# Copy this file, rename it to .env.local, and paste your own API keys below key below
VITE_ANTHROPIC_API_KEY=your_claude_api_key_here
OPENAI_API_KEY=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
#This must remain the same:
SUPABASE_URL=https://oosjxahntcpwotvnkqev.supabase.co


