# Copy this file, rename it to .env.local, and paste your own API keys below key below
VITE_ANTHROPIC_API_KEY=your_claude_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
#This must remain the same:
SUPABASE_URL=https://oosjxahntcpwotvnkqev.supabase.co


