body{
    background: #FAFAF8;
}

.HeaderButton{
    border:none;
    background: #FFFFFF;
    cursor:pointer;
}

.HeaderImage{
    height:32px;
    width:32px;
}

.HomeScreenHeader{
    background: #FFFFFF;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    display:flex;
    align-items:left;
}

#HomeScreenHeaderText{
    flex-grow:1;
    font-size:24px;
    font-weight: 350;

}

.ModuleImage{
    width:113px;
    height:113px;
    margin-top:40px;
    margin-left:50px;
    background: #FFFFFF;
    border-radius:10px;
}

.ModuleButton{
    display:flex;
    width:489px;
    height:212px;
    border-radius:6px;
    background: #FFFFFF;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border:none;
    margin-right:50px;
    margin-bottom:50px;
    cursor:pointer;

}

#ModuleGrid{
    padding-left: 250px;
    padding-top: 150px;
    display:flex;
    flex-wrap:wrap;
}

.ModuleText{
    text-align:center;
    padding:10px;
    font-size:15px;
    color: black;
}

.ModuleName{
    font-size:24px;
}

@media (max-width:480px){
    #HomeScreenHeaderText{
        font-size:15px;
    }
    .HeaderImage{
        width:26px;
        height:26px;
    }
    .ModuleImage{
        width:66px;
        height:66px;
    }
    .ModuleName{
        font-size: 20px;
    }
    .ModuleText{
        font-size:12px;
    }
    .ModuleButton{
        width:273px;
        height:175px;
        margin-right: 20px;
        margin-left: 20px;
    }
    #ModuleGrid{
        padding: 20px;
        padding-top: 5px;
    }
}