#DropDownForCategory{
    border:none;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius:6px;
    width: 1000px;
    height:52px;
    font-size:19px;
}

#ControlPanelBelowHeader{
    margin-top:20px;
    display:flex;
}

.refreshImage{
    width:35px;
    height:33px;
}

.refreshButton{
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
    margin-left: 10px;
    width:65px;
    height:52px;
    cursor: pointer
}

.CurrentQuestionNumber{
    background: #FFFFFF;
    text-align:center;
   
}

.currentQuestionNumberBox{
    width:200px; 
    height:52px;
    background: #FFFFFF;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    font-size:19px;
    margin-right:10px;
    margin-left:10px;

}

.QuestionBox{
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius:6px;
    width: 900px;
    height: 600px;
    margin-left:300px;
    display:flex;
    flex-direction:column;
    margin-top: 30px;
    background-color:#FFFFFF;   
}

.AnswersBox{
    display:flex;
    flex-direction:column;
    margin-top:100px;
}

.Answer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;

}

.QuestionImage{
    width: 120px;
    height:120px;
    margin-left:400px;
}

.Question{
    text-align:center;
}

.NavigateBetweenQuestionsSymbol{
    width:30px;
    height:30px;
    padding: 5px;
   
}

.NavigateQuestionsBox{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 530px;
    position:fixed;
    margin-left:25px;
   
}

#NavigateQuestionsLeft{
    margin-right:750px;
    background: #FFFFFF;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    cursor:pointer;
    border-width:1px;
}

#NavigateQuestionsRight{
    background: #FFFFFF;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    cursor:pointer;
    border-width:1px;
}

#checkMark{
    width: 55px;
    height: 55px;
}

#xMark{
    height: 50px;
    width: 50px;
}

#displayRightAndWrongCount{
    margin-top:15px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#rightCount{
    margin-right: 30px;
}

#wrongCount{
    margin-left:5px;
}

#QuestionBoxAndJumpQuestion{
    display:flex;
    flex-direction:row;
}

#jumpToQuestionInput{
    width:40px;
    border-radius:6px;
    border-width: 1px;
}

#jumpToQuestionBox{
    background:#FFFFFF;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    height: 50px;
    width:300px;
}

#jumpToQuestionText{
text-align: center;
}

#outOfBoundsErrorMessage{
    text-align:center;
    margin-top:20px;
    color:red;
    font-size: 13px;
}

.wrongAnswer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:red;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;
}

.rightAnswer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:green;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;
}

.popup{
    position:fixed;
    background-color: black/50;
}

@media (max-width: 480px){
    #DropDownForCategory{
        width:298px;
        height:31px;
        font-size:16px;
    }
    .refreshButton{
        margin-left:5px;
        height:31px;
        width:56px;

    }
    .refreshImage{
        width: 16px;
        height:16px;
    }
}

