

#DropDownForCategory{
    border:none;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius:6px;
    width: 1000px;
    height:52px;
    font-size:19px;
}

#ControlPanelBelowHeader{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-wrap:wrap
}

.refreshImage{
    width:35px;
    height:33px;
}

.refreshButton{
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
    margin-left: 10px;
    width:65px;
    height:52px;
    cursor: pointer
}

.CurrentQuestionNumberText{
    background: #FFFFFF;
    text-align:center;
   
}

.currentQuestionNumberContainer{
    width:200px; 
    height:52px;
    background: #FFFFFF;
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    font-size:19px;
    margin-right:10px;
    margin-left:10px;

}

.QuestionBox{
    box-shadow:0px 1px 2px 0px rgba(0,0,0,0.1);
    border-radius:6px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-top: 30px;
    height: 600px;
    max-width: 900px;
    margin:0 auto;
    background-color:#FFFFFF;   
}

.AnswersBox{
    display:flex;
    flex-direction:column; 
    margin-top:100px;
}

.Answer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;

}

.QuestionImage{
    width: 120px;
    height:120px; 
}

.Question{
    text-align:center;

}

.NavigateBetweenQuestionsSymbol{
    width:30px;
    height:30px;
    padding: 5px;
}

.NavigateButtonsContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 600px;
    margin-top: 30px;
   
}

.NavigateButton{
    background: #FFFFFF;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    cursor:pointer;
    border-width:1px;
}

#checkMark{
    width: 55px;
    height: 55px;
}

#xMark{
    height: 50px;
    width: 50px;
}

#RightAndWrongCountContainer{
    margin-top:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 20px;
}

#jumpToQuestionInput{
    width:40px;
    border-radius:6px;
    border-width: 1px;
}

#JumpToQuestionContainer{
    background:#FFFFFF;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    height: 50px;
    width:200px;
    text-align:center;
}

#outOfBoundsErrorMessage{
    text-align:center;
    margin-top:20px;
    color:red;
    font-size: 13px;
}

.wrongAnswer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:red;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;

}

.rightAnswer{
    margin: 0 auto;
    border:none;
    border-radius: 6px;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color:green;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
    gap:20px;
    cursor:pointer;
}

@media (max-width: 480px){
    #DropDownForCategory{
        width:270px;
        height:31px;
        font-size:16px;
    }
    .refreshButton{
        margin-left:2px;
        height:31px;
        width:56px;

    }
    .refreshImage{
        width: 16px;
        height:16px;
    }
    .currentQuestionNumberContainer{
        width: 144px;
        min-height:26px;
        font-size:12px;
        margin-top:5px;
        margin-right: 2px;
        margin-left:1px;
    }
    #JumpToQuestionContainer{
        width:183px;
        height:26px;
        margin-top:5px;
        margin-bottom:5px;
    }
    #jumpToQuestionText{
        font-size: 15px;
    }
    #jumpToQuestionInput{
        width: 25px
    }
    .QuestionBox{
        margin-left:10px;
        margin-right:10px;
        width: auto;
        box-sizing:border-box;
        height:460px;
        margin-top:10px;
        font-size:15px;
    }
    .QuestionImage{
        height:86px;
        width: 86px;
        margin-left: 0;
        margin: 0 auto;
        display:block;
    }
    .Answer{
        font-size:12px;
    }
    .NavigateButtonsContainer{
        gap: 150px;
    }
    #ControlPanelBelowHeader{
        margin-bottom:5px;
        margin-top: 5px;
    }
    #RightAndWrongCountContainer{
        margin-top:5px;
    }
    #checkMark{
        width: 30px;
        height: 35px;
    }
    #xMark{
        width: 25px;
        height: 30px;
    }
}


